.filter{
  .v-select{
    .dropdown-toggle{
      background-color: $color-bg-box;
      border: 1px solid $color-border-field;
      font-size: 1rem;
      line-height: 2rem;
      padding: .5rem .75rem;
      width: 100%;
      border-radius: 2px;
      color: $color-gray
    }

    &.open .dropdown-toggle{
      border-top: 1px solid $color-border-field;
      border-right: 1px solid $color-border-field;
      border-left: 1px solid $color-border-field;
      border-bottom: 1px solid transparent;
    }
    .dropdown-menu{
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom: 1px solid $color-border-field;
      border-right: 1px solid $color-border-field;
      border-left: 1px solid $color-border-field;
      box-shadow: .5rem 2rem 5rem rgba($color-black, 0.1);

      > li.highlight > a{
        background-color: $color-primary;
        color: $color-bg-box
      }
      > li.active > a{
        background-color: $color-bg;
      }
    }
  }
}

.filters{
  display: flex;
  flex-direction: column;
  margin-right: -0.5rem;
  margin-left: -0.5rem;


  .filter{
    padding: 0 .5rem;
    flex-grow: 1;

    & +.filter{
      margin-top: 1rem;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 992px) {
    flex-direction: row;

    .filter{

      & +.filter{
        margin-top: 0;
      }
    }
  }

}