.header{
  background-color: $color-bg-box;
  text-align: center;
  padding: 1rem;

  &--without-logo{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    color: $color-black;
    font-weight: 600;
  }

  a{
    color: inherit;
  }

  &--with-logo{

    img{
      max-width: 10rem;
      margin: 0 auto;
    }

    &.logo{
      &--aspect{
        &-square{
          img{
            max-width: 5rem;
          }
        }
        &-landscape{
          img{
            max-width: 15rem;
          }
        }
        &-portrait{
          img{
            max-width: 4rem;
          }
        }
      }
    }
  }


}

