.magnet-page{
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  font-weight: 400;

  #__nuxt{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 100%;

    @include breakpoint(laptop){
      padding: 6rem 0;
    }
  }



  #__layout{
    flex-basis: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: left;
  }

  .magnet-content{
    background-color: rgba(0,0,0, 0.55);
    max-width: 47rem;
    color: white;
    flex-basis: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.35);

    @include breakpoint(laptop){
      padding: 6rem 3.125rem;
      font-size: 1.25rem;
      line-height: 1.65;
    }

    strong{
      font-weight: 700;
    }

    h1{
      font-size: 1.85rem;
      font-weight: 800;

      @include breakpoint(laptop){
        font-size: 2.75rem;
        line-height: 1.25;
      }
    }
    h2{
      font-size: 1.35rem;
      font-weight: 300;

      @include breakpoint(laptop){
        font-size: 2.75rem;
        line-height: 1.25;
      }
    }

    h1 + h2{
      margin-top: -1.5rem;

      @include breakpoint(laptop){
        margin-top: -2rem;
      }
    }

    p{
      margin: 0 0 2rem;

      &.with-cta,
      &.with-cta + p{
        font-size: .9rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.85)
      }
    }

  }



  .cta-button{
    display: block;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 12px 5px;
    line-height: 1.5;
    font-weight: bold;
    font-family: inherit;
    outline: none;
    font-size: 1.5rem;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    text-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    transition: all 200ms ease;
    margin-bottom: 1rem;

    &:hover{
      transform: scale(1.05);
      box-shadow: 6px 6px 15px rgba(0,0,0,0.15);
    }

    @include breakpoint(laptop){
      width: calc(100% - 8rem);
      margin: 0 4rem 2rem
    }
  }
}