.classes_by_day{
  &__day{
    display: flex;
    width: 100%;
  }
  &__date{
    display: none;
    flex-basis: 10rem;
    margin-right: 3.25rem;
    background-color: var(--color-bgContent);
    border-radius: 5px;
    height: 10rem;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: var(--color-accent);
    text-align: center;
    font-weight: 600;

    @include breakpoint(laptop){
      display: flex;
    }

    span{
      display: block;
      color: $color-black;
      font-size: 3.25rem;
      font-weight: 800;
      letter-spacing: -2px;
    }
  }
  h2{
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.3125rem;
  }
  small{
    display: block;
    margin-bottom: .75rem;
    font-size: .875rem;
    opacity: 0.6;
  }
  .details{
    color: var(--color-text-alpha-60)
  }
  .fa-clock{
    color: var(--color-accent)
  }
  .class_list{
    flex-grow: 1;

    .class{
      display: block;
      width: 100%;
      align-items: center;
      position: relative;
      padding: 2rem 2rem 2rem;
      text-align: center;

      &__buttons{
        margin-top: 1.5rem;
      }

      .details{
        line-height: 1.8;
      }

      @include breakpoint(laptop){
        display: flex;
        text-align: left;
        padding: 1.5rem 2rem 2rem;

        &__buttons{
          margin-top: 0;
        }
      }

      &::before{
        z-index: -1;
        background-color: currentColor;
        opacity: 0;
        display: block;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
      }

      &:hover{
        &::before{
          opacity: 0.05;
        }
      }

      & + .class{
        border-top: 1px solid var(--color-text-alpha-10)
      }

      &:last-child{
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--color-text-alpha-10)
      }

      &__content{
        flex-grow: 1;
      }
    }
  }
}