.weekly_schedule{

  &__day{
    margin-bottom: 2rem;
    flex-basis: 14.285%;
    display: flex;
    flex-direction: column;

    &-title{
      text-align: center;
      color: $color-primary;
      font-weight: 700;
      border-bottom: 0.375rem solid currentColor;
      text-transform: uppercase;
      padding: 1rem 0;
      font-size: .9rem;
      letter-spacing: 1px;
    }
    &-classes{
      flex-grow: 1;
    }

    .class{
      display: block;
      padding: 1.5rem;
      font-size: .8125rem;
      min-height: 10rem;
      border-bottom: 1px solid rgba($color-black, 0.1);
      transition: all 120ms ease;
      background-color: $color-bg-box;
      cursor: pointer;

      &:hover{
        transform: scale(1.1);
        border-bottom-color: transparent;
        box-shadow: 0 2rem 5rem rgba($color-black, 0.2);
      }

      h2{
        margin: 0;
        font-size: inherit;
        position: relative;
        padding-right: 1.5rem;
      }

      .fa-play{
        font-size: .2rem;
        position: absolute;
        right: 0;
        width: 1rem;
        height: 1rem;
        border-radius: 100px;
        line-height: 1rem;
        background-color: $color-primary;
        color: white;
        text-align: center;
        text-indent: 1px;

      }

      & +.class{

      }

      .meta{
        opacity: 0.7;
        margin-top: .5rem;
        line-height: 1.5;
      }
    }

    & + .weekly_schedule__day{
      .weekly_schedule__day-classes{
        border-left: 1px solid rgba($color-black, 0.1)
      }
    }
  }


}

.weekly_schedule{
  @include breakpoint(laptop){
    display: flex;
    margin-left: -10rem;
    margin-right: -10rem;
    background-color: $color-bg-box;
    border-radius: 5px;
    align-items: stretch;

    &__day{
      flex-basis: 14.285%;
      margin-bottom: 0;
    }

    &--weekdays-only{
      margin-right: auto;
      margin-left: auto;
      width: 100%;

      .weekly_schedule{
        &__day{
          flex-basis: 20%;
        }
      }
    }
  }
}