.schedule{
  &--style--plain-list{
    .class{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding-top: 2rem;

      &::before{
        z-index: -1;
        background-color: currentColor;
        opacity: 0;
        display: block;
        content: '';
        top: 0;
        right: 0;
        bottom: -2rem;
        left: 0;
        position: absolute;
      }

      &:hover{
        &::before{
          opacity: 0.05;
        }
      }

      & + .class{
        margin-top: 2rem;
        border-top: 1px solid rgba($color-black, 0.1)
      }

      h2{
        font-size: 1.3125rem;
        font-weight: 600;
        margin: 0;
      }

      &__image{
        flex-basis: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;

        &--empty{
          display: none;
        }

        img{
          border-radius: 3px;
          box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        }
        span{
          border-radius: 3px;
          box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
          display: block;
          height: 7.5rem;
          background-color: currentColor;
          opacity: 0.05;
        }
      }

      &__date{
        display: none;
        justify-content: center;
        align-items: center;
        color: $color-primary;
        font-weight: 600;
        flex-basis: 100%;
        font-size: 1.125rem;
        margin-top: 1rem;

      }

      &__date-mobile{
        display: block;
        color: $color-primary;
        font-weight: 600;
        flex-basis: 100%;
        font-size: 1rem;
        margin: 0 0 .5rem 0;
      }

      &__content{
        flex-grow: 1;
        display: flex;
        flex-basis: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;

        line-height: 1.8;

        .fa-clock{
          color: $color-primary;
          margin-right: .25rem;
          font-size: .95em;
        }

        .details{
          color: rgba($color-black, 0.6);
          line-height: 1.5;
        }
      }

      &__buttons{
        display: flex;
        align-items: center;
        flex-basis: 100%;
        justify-content: center;
        margin-top: 2rem;
      }


    }

    .thumb{
      display: none;
    }

    @include breakpoint(laptop) {
      .class{
        flex-wrap: nowrap;

        &__buttons{
          flex-basis: auto;
          margin-top: 0;
        }
        &__content{
          flex-basis: auto;
          text-align: left;
          justify-content: flex-start;
          line-height: 1.15;
          margin-top: 0 !important;
        }
        &__image{
          flex-basis: 10rem;
          margin-right: 1rem;
          margin-bottom: auto;
          padding: 0 0 0 1rem;
        }
        &__date-mobile{
          display: none;
        }
        h2{
          margin-bottom: .25rem;
        }
        &__date{
          flex-basis: 9rem;
          margin-right: 1rem;
          display: flex;
          margin-top: 0;

          span{
            display: block;
            font-size: 2.25rem;
            margin-bottom: .125rem;
            flex-basis: 100%;
            text-align: center;
            font-weight: 700;
          }
        }
        &__buttons{
          flex-shrink: 0;
          padding: 0 1rem;
        }
      }
      .thumb{
        display: block;
      }
      .thumb-mobile{
        display: none;
      }
    }


  }
}

.btn-class-details{
  display: inline-block;
  font-weight: 700;
  color: $color-black;
  padding: .75rem 1.5rem;
  line-height: 1;
  transition: all 120ms ease;

  &:hover{
    opacity: 0.5;
  }
}

.btn-class-book{
  display: inline-block;
  font-weight: 700;
  padding: .75rem 2rem;
  color: $color-bg-box;
  background-color: $color-primary;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba($color-primary, 0.6);
  line-height: 1;
  margin-left: 1rem;
  transition: all 120ms ease;

  &:hover{
    background-color: darken($color-primary, 10);
  }
}

.schedule{
  &--style--plain-list{
    .class{

    }
  }
}