.single-class{

  .booking-box-wrapper{
    position: fixed;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    z-index: 10;
  }



  .social-link{
    display: inline-flex;
    margin: 0 .5rem;
    border-radius: 5rem;
    width: 2.7rem;
    height: 2.7rem;
    line-height: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-black, 0.25);
    color: $color-bg;
    transition: all 120ms ease;

    &:hover{
      background-color: rgba($color-black, 0.45);
    }
  }

  .left-col{
    flex-grow: 1;
    flex-shrink: 1;

    h1{
      margin-top: 0;
    }
  }
  .right-col{
    text-align: center;
    position: relative;

    h3{
      text-align: center;
      opacity: 0.4;
      margin-bottom: 1rem;
    }
  }
  .booking-box{
    background-color: $color-bg-box;
    border-radius: 5px;
    box-shadow: .5rem 3rem 6.25rem darken($color-bg, 20);
    padding: 2rem;
    display: none;

    &--visible{
      display: block;
      margin-bottom: 1rem;

      & + .booking-box__bg{
        opacity: 0.9;
      }
    }

    &__bg{
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: $color-bg-box;
      opacity: 0;
    }

    &__button{
      display: flex;
      border-radius: 5px;
      background-color: $color-bg-box;
      padding: .75rem 1.5rem;
      font-size: 1rem;
      transition: all 120ms ease;
      margin: 0 0 1rem;
      box-shadow: 0 -1rem 4.5rem rgba($color-black, 0.5);
      flex-wrap: wrap;
      align-items: center;

      .booking-box{
        &__pre-title{
          flex-basis: 100%;
          margin-bottom: .25rem;
          font-size: .9rem;
        }
        &__pre-title,
        &__date{
          display: block;
          flex-grow: 1;
          text-align: left;
        }
        &__date{
          margin: 0;
          font-size: 1rem;
        }
        &__time{
          display: inline-flex;
          font-size: .9rem;
        }
      }

    }

    &__dates-list{
      font-size: .875rem;
      margin-top: 2rem;

      &-item{
        cursor: pointer;
        padding: 1rem .5rem;

        &:hover{
          background-color: $color-bg;
        }

        & + .booking-box__dates-list-item{
          border-top: 1px solid rgba($color-black, 0.1)
        }
      }
    }

    &__pre-title{
      letter-spacing: 3px;
      font-weight: 400;
      text-transform: uppercase;
      font-size: .85rem;
      opacity: 0.5;
      display: none;
    }
    &__date{
      display: none;
      font-weight: 800;
      font-size: 1.325rem;
      margin: .5rem 0;
    }
    &__time{
      display: none;
      justify-content: center;
      font-size: 1rem;
      opacity: 0.5;

      .spacer{
        margin: 0 .5rem;
      }
    }
    &__price{
      font-size: 3rem;
      letter-spacing: -1px;
      font-weight: 600;
      line-height: 1;
      display: block;
      margin: 1rem 0;
    }

    .loading{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba($color-bg-box, 0.95);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 70;
    }

    &__sold-out{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba($color-bg-box, 0.95);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      & > i{
        font-weight: 700;
        font-size: 6rem;
        color: $color-red;
        letter-spacing: -2px;
      }
    }

    &__availability{
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 2px;
      opacity: 0.4;
      margin-bottom: 2rem;
      display: block;
      font-weight: 600;
    }
    &__booking-button{
      display: block;
      border-radius: 5px;
      background-color: $color-green;
      box-shadow: .25rem 1.25rem 3rem $color-green;
      padding: .75rem 0;
      color: $color-bg-box;
      font-weight: 800;
      font-size: 1rem;
      transition: all 120ms ease;
      margin-bottom: 2rem;

      &:hover{
        background-color: darken($color-green, 10);
      }
    }
    &__or{
      position: relative;
      display: block;

      &::before,
      &::after{
        content: '';
        display: inline-block;
        width: 40%;
        border-bottom: 1px solid rgba($color-black, 0.1);
        position: absolute;
        top: 50%;
      }
      &::before{
        left: 0;
      }
      &::after{
        right: 0
      }
    }
    &__choose{
      text-decoration: underline;
      cursor: pointer;
      display: inline-block;
      margin-top: 1rem;
      font-weight:600;
    }
  }
  .short-description{
    font-size: 1.35rem;
    line-height: 1.8;
  }
  .title{
    margin-bottom: .75rem;
  }
  .meta{
    font-size: 1rem;
    opacity: 0.41;
    font-weight: 500;
    line-height: 1.5;

    .fa-users-class{
      margin-right: .75rem;
    }
    .middot{

      &::before{
        transform: scale(0.5) translateY(2px);
        opacity: 0.7
      }
    }
  }
  .content{
    font-size: 1rem;
    line-height: 1.5;
    color: lighten($color-black, 0.42);
    font-weight: 400;
  }
  .image{
    position: relative;

    &::before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: .5rem 2rem 4.25rem darken($color-bg, 20);
      opacity: 1;
    }
  }
  h3{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1rem;
    position: relative;
    margin-bottom: 2rem;
    text-align: left;

  }
  h4{
    font-size: 1.35rem;
    margin-bottom: 0;
  }
  .location{
    text-align: center;

  }
  .map{
    min-height: 20rem;
    border-radius: 5px;
    box-shadow: .5rem 2rem 4.25rem darken($color-bg, 15);
  }
  .instructors{
    p{
      margin-top: 0;
      margin-bottom: 2rem;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .instructor{
      padding: 2rem 0;
      position: relative;

      &:nth-child(odd){
        flex-direction: row-reverse;
      }

      &::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        border-bottom: 1px solid;
        opacity: 0.1;
      }

      &::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        border-bottom: 1px solid;
        opacity: 0.1;
      }

      .left,
      .right{
        flex-basis: 100%;
        flex-grow: 1;
      }

      .left{
        text-align: center;

        &:not(:nth-last-child){
          max-width: 45%;
        }


        img{
          border-radius: 10000px
        }
      }
      .initials{
        width: 8rem;
        height: 8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        letter-spacing: -4px;
        line-height: 1em;
        font-weight: 600;
        background-color: $color-primary;
        border-radius: 10000px;
        color: $color-bg;
        text-transform: uppercase;
        text-shadow: 0 0 1rem rgba($color-black, 0.6);
        position: relative;

        &::before{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          box-shadow: .5rem 1.5rem 2.5rem darken($color-bg, 20);
          border-radius: 10000px;
        }
      }
      .avatar{
        position: relative;
        max-width: 8rem;
        margin: 0 auto;

        &::before{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          box-shadow: .5rem 1.5rem 2.5rem darken($color-bg, 20);
          border-radius: 10000px
        }
      }
      .right{
        line-height: 1.7;
        color: rgba($color-black, 0.7);
        font-weight: 300;
        text-align: center;
        margin-top: 2rem;
      }

      &__social-links{
        margin-top: 1rem;

        > a {
          margin: 0 .5rem;
          opacity: 0.4;
          cursor: pointer;
          transition: all 120ms ease;
          color: rgba($color-black, 0.7);

          &:hover{
            opacity: 1;

            &.fb{
              color:#4168B2
            }
            &.tw{
              color: #1CA1F3
            }
            &.in{
              color: #C3039C
            }
          }
        }
      }
    }
  }
}

.single-class{
  @include breakpoint(laptop){
    display: flex;
    max-width: 100%;

    .booking-box-wrapper{
      position: inherit;
      z-index: auto;
    }

    .right-col {
      margin-left: 6.25rem;
      flex-basis: 21rem;
      flex-shrink: 0;
    }
    .booking-box {
      background-color: $color-bg-box;
      border-radius: 5px;
      box-shadow: .5rem 3rem 6.25rem darken($color-bg, 20);
      padding: 3rem 2rem;
      margin-bottom: 4rem;
      position: relative;
      display: block;

      &__pre-title{
        display: block;
      }
      &__bg{
        display: none;
      }
      &__button{
        display: none;
      }
      &__date{
        display: block;
        margin: 1.5rem 0 0.5rem;
        font-size: 1.625rem;
      }
      &__time{
        font-size: 1.3rem;
        opacity: 0.5;
        display: inline-flex;
      }
      &__price{
        line-height: 2;
        font-size: 5rem;
      }
      &__booking-button{
        box-shadow: .25rem 1.25rem 3rem $color-green;
        padding: 1rem 0;
        color: $color-bg-box;
        font-size: 1.1rem;
        margin-bottom: 4rem;

      }
      &__choose{
        margin-top: 2rem;
      }

    }
    .sticker{
      position: sticky;
      top: 2rem;
    }
    .meta{
      font-size: 1.35rem;
      line-height: inherit;
    }
    .image{
      &::before{
        box-shadow: .5rem 3rem 6.25rem darken($color-bg, 20);
      }
    }
    .instructors{
      .instructor{
        padding: 4rem 0;
        display: flex;

        .right{
          padding-left: 2rem;
          margin-top: auto;
        }
      }
    }
    .map{
      box-shadow: .5rem 3rem 6.25rem darken($color-bg, 15);
    }
  }
}


.class-modal{
  .fa-times{
    color: $color-bg-box;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem 0;
    cursor: pointer;
    transition: all 120ms ease;

    &:hover{
      opacity: 0.5;
    }
  }
  > section{
    background-color: $color-bg-box;
    border-radius: 5px;
    //padding: 2rem 2.5rem;
    position: relative;
    box-shadow: .5rem 3rem 6.25rem rgba($color-black, 0.2);
  }
}
.v--modal-overlay.v--modal-overlay.v--modal-overlay.v--modal-overlay{
  background-color: rgba($color-black, 0.95);
}


.single-class--in-modal{
  .meta{
    font-size: 1.2rem;
  }
}

.single-class.single-class{
   &--in-modal{
     padding: 2.5rem;

     .booking-box{
       border-top: 1px solid rgba($color-black, 0.1);
       box-shadow: none;
       padding: 2rem 0;
       display: block;
     }
     .booking-box-wrapper{
       position: inherit;
     }
     .booking-box__bg,
     .booking-box__button{
       display: none;
     }
     @include breakpoint(laptop){
       padding: 5.5rem;

       .booking-box{
         box-shadow: .5rem 3rem 6.25rem darken($color-bg, 20);
         padding: 2rem;
         border-top: none;

         &__date,
         &__pre-title{
           display: block;
         }
         &__time{
           display: inline-flex;
         }
       }
     }


   }
 }



.page--single-class{
  .location{
    .address{
      margin-top: .5rem;
      opacity: 0.5;
    }
  }
}